{% extends 'base.html' %}

{% block content %}
    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{user.avatar(128)}}"></td>
            <td>
                <ul>
                    <li>{{_('Имя:')}} {{user.name}}</li>
                    <li>{{_('Email:')}} {{user.email}}</li>
                    {% if user.about %}<li>{{user.about}}</li>{% endif %}
                    {% if user.last_seen %}<li>{{_('Был в сети')}}: {{moment(user.last_seen).format('LLL')}}</li>{% endif %}
                    <li>{{user.followers_count()}} {{_('подписчиков')}}, {{user.following_count()}} {{_('отслеживаемые')}}</li>
                    {% if user == current_user %}
                        <li><a href="{{url_for('main.edit_profile')}}">{{_('Редактировать')}}</a></li>
                        {% if not current_user.get_task_in_progress('export_posts') %}
                            <p>
                                <a href="{{url_for('main.export_posts')}}">{{_('Экспортируйте свои публикации')}}</a>
                            </p>
                        {% endif %}
                    {% elif not current_user.is_following(user) %}
                            <form action="{{ url_for('main.follow', username=current_user.name) }}" method="post">
                                {{ form.hidden_tag() }}
                                {{ form.submit(value=_('Подписаться')) }}
                            </form>
                    {% else %}
                             <form action="{{url_for('main.unfollow', username=current_user.name)}}" method="post">
                                {{ form.hidden_tag() }}
                                {{ form.submit(value=_('Отписаться')) }}
                            </form>
                    {% endif %}
                    {% if user != current_user %}
                        <p><a href="{{url_for('main.send_message', recipient=user.name)}}">{{_('Отправить сообщение')}}</a></p>
                    {% endif %}
                </ul>
            </td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label="Post navigation">
        <ul class="pagination">
            <li class="page-item{% if not prev_url %} disabled{% endif %}">
                <a class="page-link" href="{{ prev_url }}">
                    <span aria-hidden="true">&larr;</span> {{_('Назад')}}
                </a>
            </li>
            <li class="page-item{% if not next_url %} disabled{% endif %}">
                <a class="page-link" href="{{ next_url }}">
                    {{_('Вперед')}} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}